@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;






@layer base {
  /* html {
    font-family: "Gilmer";
  } */
  @font-face {
    font-family: Gilmer;
    font-weight: 400;
    src: url(/fonts/Regular) format("otf");
  }
  @font-face {
    font-family: Gilmer;
    font-weight: 500;
    src: url(/fonts/Medium.woff) format("otf");
  }
  @font-face {
    font-family: Product Sans;
    font-weight: 400;
    src: url(/fonts/gsans/ProductSans-Regular.woff) format("otf");
  }
  @font-face {
    font-family: Product Sans;
    font-weight: 500;
    src: url(/fonts/gsans/ProductSans-Medium.woff) format("otf");
  }
  @font-face {
    font-family: Google Sans;
    font-weight: 500;
    src: url(/fonts/gsansr.ttf) format("otf");
  }

}


/* 1B262C */
:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #011BF1;
  /* --secondary: #030304; */
  --accent: #BBE1FA;
  --light-primary: #ceffce;
  --darkersecondary: #06385a;


  --secondary: #011BF1;



}


body,
html,
:root {
  color: var(--text);
  background: var(--background);
  overflow-x: hidden;
}

::selection {
  background-color: var(--primary);
}

.active,
.clicked {
  color: var(--primary);
  position: relative;
     
  width: fit-content;
transform-origin: left;
}

.link::after{
  position: absolute;
  content: '';
  height: 2px;
/* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px; 
  margin: 0 auto;
left: 0;
  right: 0;
width: 0%;
background: var(--primary);

/* optional animation */
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.active::after{
  position: absolute;
  content: '';
  height: 5px;
/* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px; 
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--primary);

/* optional animation */
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.link{
  position: relative;   
  width: fit-content;
  transform-origin: left;
}
.link:hover:after {
      width: 80%;
		  background: var(--primary);
}
.toggle_categories{
  color: var(--text);
  background: var(--secondary)
}





.upper {
  background: url('../assets/imgs/droidx-logo.jpeg');
  background-size: cover;

}


.search_button {
  padding: 10px;
  border-radius: 50px;
  /* background: var(--secondary); */
  min-width: 60px;
  border: 2px solid var(--secondary);
  box-shadow: 0px 0px 5px black;
}

.search_button:hover{
  background: var(--secondary)
}





/* CHANGELOG */




/* CHANGELOG */
#container {
  height: 100%;
  padding-top: 50px;
  overflow-x: hidden;

}


.changelog_container {
  width: 90%;
  margin: 0px auto;
  height: 100%;
  background: black;
  border-radius: 20px;
}

.head {
  display: flex;

  place-items: center;
  width: 100%;
  justify-content: space-between;
  /* font-family: 'Courier New', Courier, monospace; */
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* height: 10px; */
  color: white;
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .head {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.user {
  overflow: none;
  color: var(--primary);
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding: 10px;
  margin-top: 20px;
}

.user span {
  color: white;
}



li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin-left: 20px;
}

.ul {
  margin-left: 190px;


  width: 80%;
}




.changelog_content {
  font-family: Monospace;
  font-size: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin-left: 20px;
  overflow-x: scroll;

}



@media only screen and (max-width: 768px) {
  .ul {
    margin-left: 0px;
  }
  main{
    width: 100%;
  }
}





.logo{
  animation: logo 5s ease-in-out infinite;
}

@keyframes logo{
  0%{
    transform: translateY(0px);

    transform: scale(1);
  }
  50%{
    transform: translateY(-20px);
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
    transform: translateY(0px);

  }
}

.blb{
  z-index: 0;
  margin-top: -200px;
}

.mob{
  animation: mob 5s ease-in-out infinite;
}
@keyframes mob{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
